<ng-container *ngIf="task">
  <mat-toolbar>
    <a mat-button routerLink="../">Назад</a>
    <span> Редактирование задачи </span>
  </mat-toolbar>
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="fill">
      <mat-label>Текст</mat-label>
      <textarea
        matInput
        name="text"
        id="text"
        rows="10"
        [formControl]="formModel.text"
        required
      ></textarea>
      <mat-error *ngIf="formModel.text?.errors?.required"
        >Текст задачи обязателен для заполнения</mat-error
      >
    </mat-form-field>

    <div class="form-control checkbox">
      <label for="completed">Выполнена</label>
      <mat-checkbox
        id="completed"
        [checked]="task.completed"
        [formControl]="completed"
      ></mat-checkbox>
    </div>

    <div class="form-control checkbox">
      <label for="edited">Отредактирована</label>
      <mat-checkbox
        id="edited"
        [checked]="task.edited"
        [formControl]="edited"
      ></mat-checkbox>
    </div>

    <button
      [disabled]="operationInFly$ | async"
      mat-raised-button
      color="primary"
      (click)="save()"
      type="button"
    >
      Сохранить
    </button>
  </form>
</ng-container>
