<mat-toolbar>
  <span>
    Авторизация
  </span>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="login()">

  <mat-form-field>
    <mat-label>Логин</mat-label>
    <input type="text" matInput id="username" name="username" required autocomplete="off" autofocus [formControl]="formModel.username">
    <mat-error *ngIf="formModel.username?.errors?.required">Имя пользователя обязательно для заполнения</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input type="password" matInput id="password" name="password" required autocomplete="off" [formControl]="formModel.password">
    <mat-error *ngIf="formModel.password?.errors?.required">Пароль пользователя обязателен для заполнения</mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="loginInFly$ | async">
    Войти
  </button>

</form>
